html {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
button {
    border-radius: 10px;
}
#shopping_addremove {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 2rem;
    justify-content: center;
}
#itemNumber {
    margin: 1rem;
}