/*
    Root Variables.
*/
:root {
    --bcolor: rgb(243,242,239);
    --education_color: rgb(220,230,240);
    --fcolor: #101010;
}

html {
  font-family: serif, sans-serif;
  color: var(--fcolor);
  background-color: var(--bcolor);
  max-width: 500px;
  margin: auto;
 }

 body {
  margin: 0;
  padding: 0;
 }

 img {
     height: 200px;
     border: 1px solid white;
     border-radius: 50%;
 }

 img:hover {
     cursor: pointer;
 }

 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5rem;
    
  }

  .working_title {
      float: left;
      font-weight: bold;
  }

  .working_date {
      float: right;
      font-weight: bold;
      margin-right: 20vw;
  }

  .working_description {
      margin-top: 1em;
  }

  .enlarge {
      font-size: 30px;
      transition: 1s;
  }

  #expereince-section {
      margin-top: 50px;
  }

  #education-section {
      margin-top: 40px;
      padding: 1rem;
      margin-bottom: 60px;
  }

  #workingExperience:hover {
      cursor:pointer;
  }

